<div class="row">
    <div class="col-sm-12">
        <img [src]="recipe?.imagePath" alt="" class="img-responsive" style="max-width: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{recipe?.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group open" appDropdown>
            <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList($event)">To Shopping List</a></li>
                <li (click)="onEditRecipe()"><a>Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>{{recipe?.description}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4 class="text-success">Cooking Recipe</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe?.ingredients">
                {{ingredient?.name}} - {{ingredient?.amount}}
            </li>
        </ul>
    </div>
</div>