<form (ngSubmit)="onSignUp(f)" #f="ngForm" class="col-sm-6 col-sm-offset-3">
  <div class="form-group">
    <label for="">
      Username
    </label>
    <input type="text" name="username" class="form-control" #username ngModel required>
    <p class="helper" *ngIf="!username.valid">You must enter this</p>
  </div>

  <div class="form-group">
    <label for="">
      Email
    </label>
    <input type="text" name="email" class="form-control" ngModel required>
    <p class="helper">You must enter this</p>
  </div>

  <div class="form-group">
    <label for="">
      Password
    </label>
    <input type="password" name="password" class="form-control" ngModel required>
    <p class="helper">You must enter this</p>
  </div>

  <div class="form-group">
    <button class="btn btn-info" [disabled] = "!f.valid">SignUp</button>
  </div>
</form>